body {
    background-color: rgb(101, 148, 250);
    font: normal 15pt Arial;
}

header {
    color: #ffffff;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    padding: 15px;
    box-shadow: 5px 5px 10px #00000062;
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    text-align: center;
    font-style: italic;
    color: #ffffff;
}